{% extends 'base.html' %}
{% block title %}Passwor-Reset{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- PAGE TITLE
    ================================================== -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Forgot Password</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Forgot Password
                </li>
            </ol>
        </nav>
    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>

<style>
    .login_input {}
</style>
<!-- LOGIN
    ================================================== -->
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Login -->
            <h3 class="mb-6">Log In to Your Skola Account!</h3>
            {% include 'components/msg.html' %}
            <!-- Form Login -->
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-5">
                    <label>{{field.label_tag}}</label>
                    <p>{{ form|crispy }}</p>
                </div>



                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    SEND CONFIRMATION LINK
                </button>
            </form>





        </div>
    </div>
</div>
{% endblock %}