{% extends 'base.html' %}
{% block title %}Profile-Upadte{% endblock %}
{% block content %}

<!-- PAGE TITLE
    ================================================== -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Profile Update</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="{% url 'home' %}">
                        {% csrf_token %}
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Profile Update
                </li>
            </ol>
        </nav>
    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>
<!-- Card -->
{% include 'components/msg.html' %}

<div class="card" style="width:80%;margin-left:10%;">
    <div class="card-body">

        <form method="post" action="{% url 'profile_update' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    <div class="form-group mb-4">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name" name="first_name"
                            value="{{user.first_name}}">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name" name="last_name"
                            value="{{user.last_name}}">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="form-group mb-4">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Enter Email" name="email"
                            value="{{user.email}}" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="username"
                            value="{{user.username}}" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-4">
                        <label>Password</label>
                        <input type="password" class="form-control"
                            placeholder="Fill Only If You Want To Change Password" name="password">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Profile </button>
        </form>

    </div>
</div>
{% endblock %}